/*BEGIN Xbox Elite 2 Controller Styling*/

.controller.custom{
    background: url(https://imgur.com/qOSri0R.png); 
    width: 1200px;
    height: 1000px;
    background-repeat:no-repeat;
}

.custom.disconnected { 
    background: url(https://imgur.com/PO6cA10.png);
}

.custom.disconnected div {
    display: none;
}

 .custom .triggers{ 
    position: absolute;
    background-repeat:no-repeat;
} 

.custom .trigger{
    width: 1200px;
    height: 1000px;
    background-repeat:no-repeat;
}

.custom .trigger.left{ 
    width: 1200px;
    height: 1000px;
    background: url(https://imgur.com/nBaAtz9.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .trigger.right{
    width: 1200px;
    height: 1000px;
    background: url(https://imgur.com/en3yPNQ.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .bumper{
    opacity: 0;
}

.custom .bumper.pressed{ 
    opacity: 1;
}

.custom .bumper.right{
    width: 1200px;
    height: 1000px;
    background: url(https://imgur.com/nwUqKaT.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .bumper.left{
    width: 1200px;
    height: 1000px;
    background: url(https://imgur.com/4nCjNBr.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .arrows{
    position: absolute;
    width: 1200px;
    height: 1000px;
    top: 250px;
    left: 291px;
    background-repeat:no-repeat;
}

.custom .back{
    opacity: 0;
    position: absolute;
}

.custom .start{
    opacity: 0;
    position: absolute;
}

.custom .back.pressed{
    width: 1200px;
    height: 1000px;
    left: -291px;
    top: -250px;
    background: url(https://imgur.com/13l9J8Z.png);
    position: absolute;
    opacity: 1;
} 

.custom .start.pressed{
    width: 1200px;
    height: 1000px;
    left: -291px;
    top: -250px;
    background: url(https://imgur.com/KJsTn59.png);
    opacity: 1;
}

.custom .abxy{
    position: absolute;
    background-repeat:no-repeat;
}

.custom .button{
    position: absolute;
}

.custom .button.pressed{
    background-position-y: -00px;
    margin-top: 0px;
}

.custom .a.pressed{
    background: url(https://imgur.com/3e60REa.png); 
    width: 1200px;
    height: 1000px;
    background-repeat:no-repeat;
}

.custom .b.pressed{
    background: url(https://imgur.com/Cglg0uv.png);
    width: 1200px;
    height: 1000px;
    background-repeat:no-repeat;
}

.custom .x.pressed{
    background: url(https://imgur.com/p4iT01d.png); 
    width: 1200px;
    height: 1000px;
    background-repeat:no-repeat;
}

.custom .y.pressed{
    background: url(https://imgur.com/VSFo0TG.png) ; 
    width: 1200px;
    height: 1000px;
    background-repeat:no-repeat;
}

.custom .meta.pressed{
    background: url(https://imgur.com/N8eBbQW.png) ; 
    width: 1200px;
    height: 1000px;
    background-repeat:no-repeat;
}

.custom .sticks{    
    left: 226px;
    top: 354px;
    position: absolute;
    background-repeat:no-repeat;
}

.custom .stick.{
    position: absolute;
}

.custom .stick.pressed.left{
    position: absolute;
    background: url(https://imgur.com/eJ94zOm.png);
    height: 151px;
    width: 151px;
    background-repeat:no-repeat;
}

.custom .stick.pressed.right{
    position: absolute;
    background: url(https://imgur.com/eJ94zOm.png);
    height: 151px;
    width: 151px;
    background-repeat:no-repeat;
}

.custom .stick.left{
    position: absolute;
    background: url(https://imgur.com/I2u0wgJ.png);
    height: 151px;
    width: 151px;
    background-repeat:no-repeat;
}

.custom .stick.right{
    position: absolute;
    background: url(https://imgur.com/I2u0wgJ.png);
    left: 450px;
    top: 180px;
    height: 151px;
    width: 151px;
    background-repeat:no-repeat;
}

.fstick {
    width: 1200px;
    height: 1000px;
    background: url();
}
	
.fstick.up {
    background: url(https://imgur.com/xLpgquL.png);
}

.fstick.down {
    background: url(https://imgur.com/xql5J1K.png);
}

.fstick.left {
    background: url(https://imgur.com/w2TRJMo.png);
}

.fstick.right {
    background: url(https://imgur.com/PBWnV79.png);
}

/*END Xbox Elite 2 Controller Styling*/