/*BEGIN PS4 Controller Styling*/

.controller.custom{
    background: url(https://imgur.com/qadnnlg.png); 
    height: 924px;
    width: 1200px;
    background-repeat:no-repeat;
}

.custom.disconnected { 
    background: url(https://imgur.com/N07DVHT.png);
}

.custom.disconnected div {
    display: none;
}

 .custom .triggers{ 
    position: absolute;
    background-repeat:no-repeat;
} 

.custom .trigger{
    height: 924px;
    width: 1200px;
    background-repeat:no-repeat;
}

.custom .trigger.left{ 
    height: 924px;
    width: 1200px;
    background: url(https://imgur.com/aG4Tzcb.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .trigger.right{
    height: 924px;
    width: 1200px;
    background: url(https://imgur.com/aL1WTpz.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .bumper{
    opacity: 0;
}

.custom .bumper.pressed{ 
    opacity: 1;
}

.custom .bumper.right{
    height: 924px;
    width: 1200px;
    background: url(https://imgur.com/0iMNNqV.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .bumper.left{
    height: 924px;
    width: 1200px;
    background: url(https://imgur.com/DTiYBdA.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .arrows{
    position: absolute;
    width: 205px;
    height: 19px;
    top: 250px;
    left: 291px;
    background-repeat:no-repeat;
}

.custom .back{
    opacity: 0;
    position: absolute;
}

.custom .start{
    opacity: 0;
    position: absolute;
}

.custom .back.pressed{
    height: 924px;
    width: 1200px;
    left: -291px;
    top: -250px;
    background: url(https://imgur.com/6U46jZh.png);
    position: absolute;
    opacity: 1;
} 

.custom .start.pressed{
    height: 924px;
    width: 1200px;
    left: -291px;
    top: -250px;
    background: url(https://imgur.com/xFJWRac.png);
    opacity: 1;
}

.custom .abxy{
    position: absolute;
    background-repeat:no-repeat;
}

.custom .button{
    position: absolute;
}

.custom .button.pressed{
    background-position-y: -00px;
    margin-top: 0px;
}

.custom .a.pressed{
    background: url(https://imgur.com/NUsvWQw.png); 
    height: 924px;
    width: 1200px;
    background-repeat:no-repeat;
}

.custom .b.pressed{
    background: url(https://imgur.com/5zOHltt.png);
    height: 924px;
    width: 1200px;
    background-repeat:no-repeat;
}

.custom .x.pressed{
    background: url(https://imgur.com/xZEL7yL.png); 
    height: 924px;
    width: 1200px;
    background-repeat:no-repeat;
}

.custom .y.pressed{
    background: url(https://imgur.com/tnMvcud.png); 
    height: 924px;
    width: 1200px;
    background-repeat:no-repeat;
}

.custom .meta.pressed{
    background: url(https://imgur.com/22GU28p.png) ; 
    height: 924px;
    width: 1200px;
    background-repeat:no-repeat;
}

.custom .sticks{    
    left: 334px;
    top: 460px;
    position: absolute;
    background-repeat:no-repeat;
}

.custom .stick.{
    position: absolute;
}

.custom .stick.pressed.left{
    position: absolute;
    background: url(https://imgur.com/aynhzBy.png);
    height: 163px;
    width: 163px;
    background-repeat:no-repeat;
}

.custom .stick.pressed.right{
    position: absolute;
    background: url(https://imgur.com/aynhzBy.png);
    height: 163px;
    width: 163px;
    background-repeat:no-repeat;
}

.custom .stick.left{
    position: absolute;
    background: url(https://imgur.com/NGdguOI.png);
    height: 163px;
    width: 163px;
    background-repeat:no-repeat;
}

.custom .stick.right{
    position: absolute;
    background: url(https://imgur.com/NGdguOI.png);
    left: 380px;
    height: 163px;
    width: 163px;
    background-repeat:no-repeat;
}

.custom .dpad{
    height: 924px;
    width: 1200px;
    background-repeat:no-repeat;
}

.custom .face{
    background: url();
    position: absolute;
}

.custom .face.right.pressed{
    background: url(https://imgur.com/w2MpBsN.png); 
    height: 924px;
    width: 1200px;
    background-repeat:no-repeat;
}

.custom .face.left.pressed{
    background: url(https://imgur.com/nSc8OEW.png); 
    height: 924px;
    width: 1200px;
    background-repeat:no-repeat;
}

.custom .face.up.pressed{
    background: url(https://imgur.com/YJWIqJM.png); 
    height: 924px;
    width: 1200px;
    background-repeat:no-repeat;
}

.custom .face.down.pressed{ 
    background: url(https://imgur.com/P1NcItY.png); 
    height: 924px;
    width: 1200px;
    background-repeat:no-repeat;
}

.custom .touchpad.pressed{
    position:absolute;
    height: 924px;
    width: 1200px;
    background: url(https://imgur.com/FKigQnJ.png);
    background-repeat:no-repeat;
}

/*END PS4 Controller Styling*/
